.InputWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 32px;
}

.placeholder {
	margin-right: 8px;
	white-space: nowrap;
	flex-shrink: 0;
}

.input {
	background: rgba(255, 255, 255, 0.03);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	outline: none;
	width: 100%;
	padding: 6px 12px;
	color: transparent;
	text-shadow: 0 0 0 var(--primary-color);
	font-size: 14px;
	transition: all 0.3s ease;
	flex: 1;
	min-width: 0;

	&:focus {
		outline: none;
		border-color: #00d395;
		background: rgba(255, 255, 255, 0.05);
	}

	&:hover {
		border-color: rgba(255, 255, 255, 0.2);
	}
}

.caretWrapper {
	flex-grow: 1;
	position: relative;
}

.caret {
	height: 3px;
	width: 9px;
	background: var(--primary-color);
	bottom: 0;
	left: 0;
	position: absolute;
	animation: blink 0.7s forwards infinite;
}

.readonly {
	opacity: 0.7;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.01;
	}

	100% {
		opacity: 1;
	}
}
