.app_dark_theme {
	--bg-color: #050914;
	--inverted-bg-color: #f5f7fb;
	--primary-color: #f5f7fb;
	--secondary-color: #96a1b7;
	--inverted-primary-color: #050914;
	--inverted-secondary-color: #4b5565;
	--skeleton-color: #0f1524;
	--skeleton-shadow: rgba(0, 0, 0, 0.4);
	--code-bg: #0f172a;
	--card-bg: #080e1c;
	--listbox-bg: #0f1524;
}
