.app_purple_theme {
	--bg-color: #120023;
	--inverted-bg-color: #fdf7ff;
	--primary-color: #fdf7ff;
	--secondary-color: #c8a7ff;
	--inverted-primary-color: #2d0a4d;
	--inverted-secondary-color: #845ef7;
	--skeleton-color: #2d0a4d;
	--skeleton-shadow: rgba(0, 0, 0, 0.35);
	--code-bg: #1f0339;
	--card-bg: #1b0730;
	--listbox-bg: #2b0c48;
}
