.app_purple_theme {
	--bg-color: #f6f4fb;
	--inverted-bg-color: #23015f;
	--primary-color: #592fa2;
	--secondary-color: #000f47;
	--inverted-primary-color: #dbd5dc;
	--inverted-secondary-color: #f6f4fb;

	//skeleton
	--skeleton-color: #ffffff;
	--skeleton-shadow: rgba(0 0 0/20%);

	//code
	--code-bg: #fff;

	//card
	--card-bg: #d5d5d7;

	//listbox
	--listbox-bg: #d5d5d7;
}
