.AnalyticsPage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	width: 100%;
	box-sizing: border-box;
}

.fullWidth {
	grid-column: 1 / -1;
	width: 100%;
}

@media (max-width: 1200px) {
	.AnalyticsPage {
		grid-template-columns: 1fr;
	}
}
