.TerminalPage {
	display: grid;
	grid-template-columns: 320px 450px 1fr;
	gap: 20px;
	width: 100%;
	box-sizing: border-box;
	align-items: start;
	height: fit-content;

	@media (max-width: 1600px) {
		grid-template-columns: 280px 420px 1fr;
	}

	@media (max-width: 1400px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"orderBook center"
			"right right";

		.orderBookColumn {
			grid-area: orderBook;
		}

		.centerColumn {
			grid-area: center;
		}

		.rightColumn {
			grid-area: right;
		}
	}

	@media (max-width: 1024px) {
		grid-template-columns: 1fr;
		grid-template-areas:
			"center"
			"orderBook"
			"right";

		.orderBookColumn {
			grid-area: orderBook;
		}

		.centerColumn {
			grid-area: center;
		}

		.rightColumn {
			grid-area: right;
		}
	}
}

.orderBookColumn {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	min-width: 0;
	height: fit-content;
}

.centerColumn {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	min-width: 0;
	height: fit-content;
}

.rightColumn {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	min-width: 0;
	height: fit-content;
}
